doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL | Persentasi

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article.reveal
    
      section
        h1 SMARTPHONE ANDROID
       
       section

        h2.bullet SMARTPHONE
        ul
            li Smartphone atau familiar dengan sebutan ponsel cerdas adalah sebuah perangkat atau produk teknologi berupa telpon genggam
            li memiliki software dan hardware lebih pintar
            li  menyediakan fungsi personal digital Assistant(PDA) seperti fungsi kalender,buku Agenda, buku Alamat,kalkulator dan catatan


      section
        h2.bullet ANDROID
        ul
            li  Sistem Operasi berbasis Linux(telepon pintar & komputer)
            li diakui sisi oleh raksasa Internet <a href="https://www.google.co.id">google</a> (2005)
            li  terkoneksi dengan  jaringan internet
            
        
      section
            
            img(src="images/andro1.jpg")
            h4.bullet  1. Android versi 1.1 dirilis pada : 9 Maret 2009 
            ul
                li  Pembaruan pada aplikasi, jam alarm dan voice search (pencarian suara) 
                li  Pembaruan pada pengiriman pesan dengan Gmail, dan pemberitahuan email
        
      section
            img(src="images/andro2.jpg")
            h4.bullet   2. Android versi 1.5 (Cupcake) dirilis pada : pertengahan Mei 2009
            ul
                li  Mampu merekam dan menonton video dengan modus kamera
                li  Mengunggah video ke Youtube dan gambar ke Picasa langsung dari telepon 
                li  Dukungan Bluetooth A2DP dan terhubung secara otomatis ke headset Bluetooth
                li  Animasi layar dan keyboard pada layar yang dapat disesuaikan dengan sistem
      section
            img(src="images/andro3.jpg")
            h4.bullet    3. Android versi 1.6 (Donut) dirilis pada : September
            ul
                li  Galeri yang memungkinkan pengguna untuk memilih foto yang akan dihapus
                li  Kamera, Camcorder dan Galeri yang dintegrasikan
                li  CDMA / EVDO, 802.1x, VPN, Gestures, dan Text-to-speech engine
                li  Kemampuan dial kontak
                li  Teknologi text to change speech (tidak tersedia pada semua ponsel
                li  Pengadaan resolusi VWGA
      section
            img(src="images/andro4.jpg")
            h4.bullet  4. Android versi 2.0/2.1 (Eclair) dirilis pada : 3 Desember 2009
            ul
                li  Pengoptimalan hardware
                li  Peningkatan Google Maps 3.1.2 
                li  Perubahan UI dengan browser baru dan dukungan HTML5
                li  Daftar kontak yang baru, dukungan flash untuk kamera 3,2 MP, digital Zoom, dan Bluetooth 2.1.
      section
            img(src="images/andro5.jpg")
            h4.bullet  5. Android versi 2.2 (Froyo: Frozen Yoghurt) dirilis pada : 20 Mei 2010
            ul
                li  Dukungan Adobe Flash 10.1
                li  Kecepatan kinerja dan aplikasi 2 sampai 5 kali lebih cepat 
                li  Intergrasi V8 JavaScript engine yang dipakai Google Chrome 
                li  Pemasangan aplikasi dalam SD Card
                li  Kemampuan WiFi Hotspot portabel dan kemampuan auto update dalam aplikasi Android Market 
      section
            img(src="images/andro6.jpg")
            h4.bullet  6. Android versi 2.3 (Gingerbread) dirilis pada : 6 Desember 2010
            ul
                li  Peningkatan kemampuan permainan (gaming)
                li  Peningkatan fungsi copy paste
                li  Layar antar muka (User Interface) didesain ulang
                li  Dukungan format video VP8 dan WebM
                li  Efek audio baru (reverb, equalization
                li  Headphone virtualization, dan bass boost)
                li  Dukungan kemampuan Near Field Communication (NFC)
                li  Dukungan jumlah kamera yang lebih dari satu
            
      section
            img(src="images/andro7.jpg")
            h4.bullet  7. Android versi 3.0/3.1 (Honeycomb)
             ul
                li  Ukuran layar yang lebih besar & interface yang berbeda (didesain untuk tablet)
                li  Multi prosesor dan juga akselerasi perangkat keras (hardware) untuk grafis
            
      section
            img(src="images/andro8.jpg")
            h4.bullet   8. Android versi 4.0 (ICS :Ice Cream Sandwich) diumumkan pada : 19 Oktober 2011
            ul
                li  Membawa fitur Honeycomb untuk smartphone dan menambahkan fitur baru termasuk membuka kunci dengan pengenalan wajah
                li  Jaringan data pemantauan penggunaan dan kontrol
                li  Terpadu kontak jaringan sosial 
                li  Perangkat tambahan fotografi 
                li  Mencari email secara offline
                li  Berbagi informasi dengan menggunakan NFC

      section
            img(src="images/andro9.jpg")
            h4.bullet   9. Android versi 4.1 (Jelly Bean) dirilis pada : 27 Juni 2012)
            ul
                li  Barrel Roll, fitur ini akan menunjukkan efek menggelindingkan halaman situs
                li  Google Now untuk memperoleh informasi yang tepat dan cepat
                li  Notifikasi, bar notifikasi bisa menampilkan pilihan quick reply
                li  Say it Offline, mengkonversi ucapan menjadi sebuah teks tanpa harus terhubung dengan internet
                li  Google Assistant, berjalan dengan perintah suara yang bisa digunakan mengirim SMS, email, telepon dan lain-lain
                li  Face Unlock dengan Liveness Check
                li  Mematikan notifikasi aplikasi tanpa harus menginstall aplikasi
                li  Screen Capture
                li  Smart Widget bisa menambahkan widget baru ke halaman utama tanpa harus menyediakan ruang kosong terlebih dahulu
                li  Efek hujan Jelly Bean
            
      section
            img(src="images/andro10.jpg")
            h4.bullet   10. Android versi 4.4 (KitKat)
            ul
                li  Mampu menghalang virus masuk pada saat menginstall aplikasi
                li  Built-in power saving mode
                li  Smart Caller ID yang mampu mengidentifikasi nomor ponsel dari operator
                li  Desain interface yang lebih fresh
                li  Mampu mengakses Google Now menggunakan voice search 
                li  Emoji
                li  Google Cloud Print
                li  dan lain-lain
                
        section
        h2.bullet Cara menghilangkan verifikasi lisensi android sebagai berikut:
        ul
            li  Dengan menggunakan Lucky Patcher
            li  Kemudian Tekan dan Tahan pada aplikasi yang di pilih hingga keluar pop up.
            li  Pilih Hapus Verifikasi Lisensi!
            li  Pilih Auto Modes!
            li  Berikan Ceklis/Centang Auto Mode
            li  Kemudian Klik Terapkan / Apply
            
      section 
        h3.bullet Aplikasi dan Hiburan

        ul
         li Di Android mempunyai Google Play.
         li Google Play memiliki aplikasi, game, dan hiburan yang diinginkan.
         
      section
        h3.bullet Keamanan dan Privacy
        img(src="images/privacy.png")
        ul
          li Sistem sandbox dan perizinan pada Android bisa mengurangi dampak kerentanan terhadap bug pada aplikasi

        
    


      
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild