doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL | Persentasi

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article
    
     section(data-bespoke-state='reveal')
        h1.bullet CALMERS TEAM
        ul
          li Mustika Ulina
          li Yanti Susanna Siregar
          li Windi Elvia Pulungan
          li Nursela
    
      section(data-bespoke-state='reveal')
        h1 SMARTPHONE ANDROID
       
       
       section(data-bespoke-state='intro')
            h3.bullet Apa itu Smartphone ?
            ul
                li Smartphone adalah perangkat untuk melakukan panggilan telepon
                li Smartphone memiliki fitur seperti personal digital assistant (PDA) atau komputer – seperti kemampuan untuk mengirim dan menerima e-mail dan editing dokumen 


      section(data-bespoke-state='intro')
         h3.bullet Apa itu Android ?
         ul
          li Android adalah sebuah sistem operasi yang berbasis linux untuk telepon seluler pintar dan tablet.
          li Android menyediakan platform terbuka bagi para pengembang untuk menciptakan aplikasi sendiri yang digunakan oleh bermacam peranti lunak
         
      section(data-bespoke-state='intro')
        h3. Versi OS Android
        
      section
            img(src="images/andro1.jpg")
            h4.bullet  1. Android versi 1.1 (Banana bread)
            ul   
                li  Pembaruan pada aplikasi, jam alarm, voice search, pengiriman pesan dengan Gmail, dan pemberitahuan email
      section
                img(src="images/andro2.jpg")
                h4.bullet   2. Android versi 1.5 (Cupcake)
                ul
                    li  Pembaruan pada kamera, mengunggah video, bluetooth, animasi layar dan keyboard pada layar
        
      section
            img(src="images/andro3.jpg")
            h4.bullet    3. Android versi 1.6 (Donut)
            ul
                li Pembaruan pada galeri, kamera, Camcorder, Galeri, Text-to-speech engine dan pengadaan resolusi VWGA
       section  
            img(src="images/andro4.jpg")
            h4.bullet  4. Android versi 2.0/2.1 (Eclair)
            ul
                li Pembaruan pada Google Maps, hardware, kamera, bluetooth dan perubahan pada User Interface
            
      section
            img(src="images/andro5.jpg")
            h4.bullet  5. Android versi 2.2 (Froyo: Frozen Yoghurt)
            ul
                li Pembaruan pada kecepatan kinerja aplikasi, pemasangan aplikasi dalam SD card, kemampuan WiFi Hotspot dan kemampuan auto update aplikasi Android Market
      section
            img(src="images/andro6.jpg")
            h4.bullet  6. Android versi 2.3 (Gingerbread)
            ul
                li Pembaruan pada kemampuan Gaming, Copy Paste, User Interface, efek Audio, Kamera dan lain-lain
            
      section
            img(src="images/andro7.jpg")
            h4.bullet  7. Android versi 3.0/3.1 (Honeycomb)
            ul
                li Pembaruan pada layar yang lebih besar, interface yang berbeda (dedesain untuk tablet), multi prosesor dan akselerasi pada hardware
      section
            img(src="images/andro8.jpg")
            h4.bullet   8. Android versi 4.0 (ICS :Ice Cream Sandwich)
            ul
                li Pembaruan pada fitur, jaringan data pemantau, penambahan perangkat fotografi, mencari email secara offline dan lain-lain
            
      section
            img(src="images/andro9.jpg")
            h4.bullet   9. Android versi 4.1 (Jelly Bean)
            ul
                li Pembaruan pada Barrel Roll, Google Now, Notification, Face Unlock, Screen Capture, dan lain-lain
      section 
            img(src="images/andro10.jpg")
            h4.bullet   10. Android versi 4.4 (Kitkat) 
            ul
                li Pembaruan pada antivirus, Smart Caller ID, Emoji, Interface yang lebih fresh dan lain-lain
          
      section(data-bespoke-state='intro')
        h3.bullet Aplikasi dan Hiburan
        ul
         li Di Android mempunyai Google Play.
         li Google Play memiliki aplikasi, game, dan hiburan yang diinginkan.
         
      section(data-bespoke-state='intro')
        h3.bullet Cara menghilangkan verifikasi lisensi android sbb:
        ul
            li  Dengan menggunakan Lucky Patcher
            li  Kemudian Tekan dan Tahan pada aplikasi yang di pilih hingga keluar pop up.
            li  Pilih Hapus Verifikasi Lisensi!
            li  Pilih Auto Modes!
            li  Berikan Ceklis/Centang Auto Mode
            li  Kemudian Klik Terapkan / Apply
         
      section(data-bespoke-state='intro')
        h3.bullet Keamanan dan Privacy
        img(src="images/privacy.png")
        ul
        li * Sistem sandbox dan perizinan pada Android bisa mengurangi dampak kerentanan terhadap bug pada aplikasi.
       
      section(data-bespoke-state='intro')
        h3.bullet Pembajakan Aplikasi
        ul
            li Pada 2010, Google merilis sebuah alat yang berfungsi memvalidasi pembelian resmi untuk digunakan dalam aplikasi, tetapi hal ini kurang efisien karena bukan sebagai solusi untuk mengakhiri pembajakan
            li Pada 2012, Google kembali merilis sebuah fitur dalam Android 4.1 yang mengenskripsikan aplikasi berbayar sehingga aplikasi hanya bisa berjalan pada perangkat tempat mereka dibeli, namun fitur ini dinonaktifkan untuk sementara karena masalah teknis  
            
      section
        h3.bullet Apa itu Smartphone Supercopy ?
        ul
            li Smartphone Supercopy atau kata lainnya adalah Replika
            li Perangkat yang diciptakan khusus untuk dapat menyerupai Smartphone Originalnya tetapi memiliki harga yang relative murah dibanding dengan yang original.
        
      section
        h3.bullet Apa perbedaan Smartphone Android Asli dan Supercopy?
        ul 
            li 1. Harga
            li 2. Build Quality atau Bentuk fisik
            li 3. Ultimate Checking
        
       section
       h3 Cara membedakan Smartphone Supercopy ( Software )
      
     
      section(data-bespoke-state='intro')
        h2.bullet Cara I :
        img(src="images/CPU_Z.jpg")
        ul
        li Dengana menggunakan CPU_Z
       
      section(data-bespoke-state='intro')
        h2.bullet Cara II :
        img(src="images/loadera.jpg")
        ul
        li Dengana menggunakan Loadera
       
        
      section(data-bespoke-state='intro')
        h2.bullet Cara III:
        img(src="images/volume.png")
        ul
        li Dengan melakukan Download mode
       
        
      section(data-bespoke-state='intro')
        h2.bullet Cara IV :
        img(src="images/loadera.jpg")
        ul
        li Langkah terakhir adalah dengan menggunakan aplikasi KIES
        
     section
        h3.bullet Cara membedakan Smartphone Supercopy ( Hardware ) ?
        ul
        li  Menginstall Aplikasi CPU-Z
        
     section 
        img(src="images/supercopy.jpg")
        p Applikasi CPU-Z 
        
      section
        h3 Contoh perbedaan hardware S4 Original dan Supercopy
        img(src="images/contohS4.jpg")
        
       section(data-bespoke-state='reveal')
        h3 Terimakasih
        img(src="images/smile.jpg")
        
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
