doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL | Persentasi

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article
    
     section(data-bespoke-state='reveal')
        h1 CALMERS TEAM
        ul
          li Mustika Ulina
          li Yanti Susanna Siregar
          li Windi Elvia Pulungan
          li Nursela
    
      section(data-bespoke-state='reveal')
        h1 SMARTPHONE ANDROID
       
       
       section(data-bespoke-state='intro')
            h2.bullet Apa itu Smartphone ?
            ul
                li Smartphone adalah perangkat untuk melakukan panggilan telepon
                li Smartphone memiliki fitur seperti personal digital assistant (PDA) atau komputer – seperti kemampuan untuk mengirim dan menerima e-mail dan editing dokumen 


      section(data-bespoke-state='intro')
         h2.bullet Apa itu Android ?
         ul
          li Android adalah sebuah sistem operasi yang berbasis linux untuk telepon seluler pintar dan tablet.
          li Android menyediakan platform terbuka bagi para pengembang untuk menciptakan aplikasi sendiri yang digunakan oleh bermacam peranti lunak
            
        
      
                
      section
        h2.bullet Cara menghilangkan verifikasi lisensi android sbb:
        
        section(data-bespoke-state='intro')
        h3.bullet Cara menghilangkan verifikasi lisensi android sbb:
        ul
            li  * Dengan menggunakan Lucky Patcher.
            li  * Kemudian Tekan dan Tahan pada aplikasi yang di pilih hingga keluar pop up.
            li  * Pilih Hapus Verifikasi Lisensi.
            li  * Pilih Auto Modes!
            li  * Berikan Ceklis/Centang Auto Mode.
            li  * Kemudian Klik Terapkan / Apply.
            
      section(data-bespoke-state='intro')
        h3.bullet Aplikasi dan Hiburan

        ul
         li * Di Android mempunyai Google Play.
         li * Google Play memiliki aplikasi, game, dan hiburan yang diinginkan.
          
      section(data-bespoke-state='intro')
        h3.bullet Aplikasi dan Hiburan

        ul
         li Di Android mempunyai Google Play.
         li Google Play memiliki aplikasi, game, dan hiburan yang diinginkan.
         
      section(data-bespoke-state='intro')
        h3.bullet Cara menghilangkan verifikasi lisensi android sbb:
        ul
            li  Dengan menggunakan Lucky Patcher
            li  Kemudian Tekan dan Tahan pada aplikasi yang di pilih hingga keluar pop up.
            li  Pilih Hapus Verifikasi Lisensi!
            li  Pilih Auto Modes!
            li  Berikan Ceklis/Centang Auto Mode
            li  Kemudian Klik Terapkan / Apply
         
      section
        h2.bullet Keamanan dan Privacy
        img(src="images/privacy.png")
        ul
        li * Sistem sandbox dan perizinan pada Android bisa mengurangi dampak kerentanan terhadap bug pada aplikasi.
       
      section
        h2.bullet Pembajakan Aplikasi
        ul
            li Pada 2010, Google merilis sebuah alat yang berfungsi memvalidasi pembelian resmi untuk digunakan dalam aplikasi, tetapi hal ini kurang efisien karena bukan sebagai solusi untuk mengakhiri pembajakan
            li Pada 2012, Google kembali merilis sebuah fitur dalam Android 4.1 yang mengenskripsikan aplikasi berbayar sehingga aplikasi hanya bisa berjalan pada perangkat tempat mereka dibeli, namun fitur ini dinonaktifkan untuk sementara karena masalah teknis  
            
      section
        h3.bullet Apa itu Smartphone Supercopy ?
        ul
            li Smartphone Supercopy atau kata lainnya adalah Replika
            li Perangkat yang diciptakan khusus untuk dapat menyerupai Smartphone Originalnya tetapi memiliki harga yang relative murah dibanding dengan yang original.
        
      section
        h2 Apa perbedaan Smartphone Android Asli dan Supercopy?
       
      section
        ul.bullet
            li 1. Harga
            li 2. Build Quality atau Bentuk fisik
            li 3. Ultimate Checking
        
       section(data-bespoke-state='reveal')
       h2 Cara membedakan Smartphone Supercopy Dalam hal Software
      
     
        section
        h2.bullet Cara I :
        img(src="images/CPU_Z.jpg")
        ul
        li Dengana menggunakan CPU_Z
        
      section
        h2.bullet Cara II :
        img(src="images/loadera.jpg")
        ul
        li Dengana menggunakan Loadera
       
        
      section
        h2.bullet Cara III:
        img(src="images/volume.png")
        ul
        li Dengan melakukan Download mode
       
        
      section
        h2.bullet Cara IV :
        img(src="images/loadera.jpg")
        ul
        li Langkah terakhir adalah dengan menggunakan aplikasi KIES
       
      
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
